body{
  width: 80%;
  border: 1px solid black;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  margin: 10px auto 10px auto;
}

.table-container{
  min-height: 58vh;
  height: 40%;
  display: flex;
  align-items: center;
}

.empty {
  background-color: #ffffff;
  cursor: pointer;
}

.digit-cell {
  background-color: #dfdfdf;
  cursor: pointer;
}

td {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 25px;
  
  font-weight: bold;
  border: 3px solid rgb(91, 155, 213);
  vertical-align: middle;
}

.menu{
  display: flex;
  width: 30%;
  justify-content: space-around;
  margin: 3vh auto;
}

.unused-cell {
  background-color: #dfdfdf;
}

button {
  font-size: 20px; 
  height: 49px;
  background-color: rgba(23, 99, 166, 0.8);
  color: white;
  border: 0;
  border-radius: 10px;
  padding: 0 5%;
}

button:hover {
  background-color: rgba(23, 99, 166, 0.6);
}

button:active {
  background-color: rgba(23, 99, 166, 1);
  transform: scale(0.98);
}

.menu-item {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

select {
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.text p{
  font-family: Arial, Helvetica, sans-serif;
  width: fit-content;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 20px;
}